/*
 * Content Sections
 * ----------------
 * The empty <section> structure appears thus:
 * 
 * <section id="foo">
 *      <div class="wrapper">
 *          <div class="section-accent">
 *              <div class="accent interior"></div>
 *          </div>
 *          <div class="section-body">
 *              <div class="interior">
 *                  <!-- Content goes here->
 *              </div>
 *          </div>
 *      </div>
 * </section> 
 */

#content {
    a {
        @include box_shadow(rgba(0,0,0,0.4) 0 -3px 0 0 inset);
    }

    blockquote {
        border-left: 3px solid rgba(0,0,0,0.4);
        padding: 0 20px;
    }
}

/*
 * Section
 * -------
 */

section:not(#header) {
    @extend %border-box;
    height: 100vh;
    margin-bottom: 2px;
    position: relative;

    @include breakpoint(smartphone) {
        height: auto;        
    }

    &:nth-child(odd) .section-accent {
        // Alternate the position of the accent bar.
        float: right;

        @include breakpoint(smartphone) {
            float: none;
        }
    }

    &:last-of-type {
        @include breakpoint(smartphoe) {
            margin-bottom: 30px;
        }
    }
}

@each $value, $key in $sections {
    // Iterate through sections list to generate their colours and 
    // background-image
    section##{$value} {
        background-color: nth($key, 1);

        div.accent {
            background-color: nth($key, 2);
            background-image: url(nth($key, 3));
        }
    } 
}

/*
 * Section Interior Elements
 * -------------------------
 */

div.interior {
    @extend %border-box;
    height: 75%;
    position: absolute;
    top: 25%;
    width: 100%;

    @include breakpoint(max, 1000) {
        height: 90%;
        top: 10%;
    }

    @include breakpoint(tablet) {
        height: 90%;
        top: 10%;
    }

    @include breakpoint(smartphone) {
        position: initial; 
        height: auto;
    }
}

div.section-accent {
    @extend %column;
    height: 100%;
    width: 25%;

    @include breakpoint(smartphone) {
        width: 100%;
    }

    div.accent {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;

        @include breakpoint(smartphone) {
            @include flex_size(100%, 0.5);
            background-position: center center;
            background-size: auto 90%;
            margin-bottom: $bottom_default;
        }
    }
}

div.section-content {
    @extend %column;
    height: 100%;
    width: 75%;

    @include breakpoint(smartphone) {
        padding: 2.5%;
        width: 100%;
    }

    .interior {
        padding: $bottom_default;

        @include breakpoint(smartphone) {
            padding: 0;
        }
    }
}

div.wrapper {
    @extend %clearfix;
    height: 100%;
    padding: 0 20%;

    @include breakpoint(max, 1150) {
        padding: 0 12%;
    }

    @include breakpoint(max, 1050) {
        padding: 0 5%;
    }

    @include breakpoint(max, 950) {
        padding: 0 $bottom_default;
    }

    @include breakpoint(smartphone) {
        padding: 0;
    }
}

h4.sec-title {
    color: #fff;
    margin: 0;
}
