#content {
    a {
        @include box_shadow(rgba(0,0,0,0.4) 0 -3px 0 0 inset);
    }

    blockquote {
        border-left: 3px solid rgba(0,0,0,0.4);
        padding: 0 20px;
    }
}

section:not(#header) {
    @extend %border-box;
    padding: $section_padding;
    height: 100vh;
    position: relative;

    @include breakpoint(smartphone) {
        height: auto;        
        padding: 3%;
    }

    &:last-of-type {
        @include breakpoint(smartphoe) {
            margin-bottom: 30px;
        }
    }
}

div.interior {
    @extend %border-box;
    height: 75%;
    position: absolute;
    top: 25%;
    width: 100%;

    @include breakpoint(max, 1000) {
        height: 90%;
        top: 10%;
    }

    @include breakpoint(tablet) {
        height: 90%;
        top: 10%;
    }

    @include breakpoint(smartphone) {
        position: initial; 
        height: auto;
    }
}

div.split {
    padding: 0 15%;

    @include breakpoint(max, 1150) {
        padding: 0 10%;
    }

    @include breakpoint(max, 1050) {
        padding: 0 5%;
    }

    @include breakpoint(max, 950) {
        padding: 0 $section_padding;
    }

    @include breakpoint(smartphone) {
        padding: 0;
    }
}

div.complement {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* Intro/bioprinting. */
section#ouro {
    div.split {
        background-color: #bed68b;
    }

    div.complement {
        background-color: #6b7e4f; 
        background-image: url('../images/speech_bubbles.png');
    }
}

section#intro {
    div.split {
        background-color: #649b89; 
    }

    div.complement {
        background-color: #395b50;
        background-image: url('../images/speech_bubbles.png');
    }
}

section#hiring {
    div.split {
        background-color: #e0c57d; 
    }

    div.complement {
        background-color: #968155;
        background-image: url('../images/speech_bubbles.png');
    }
}

section#team {
    div.split {
        background-color: #6997da;
    }

    div.complement {
        background-color: #4170b3; 
        background-image: url('../images/team.png');
    }
}

section#contact {
    div.split {
        background-color: #88c7ca;
    }

    div.complement {
        background-color: #4b7a9b;
        background-image: url('../images/speech_bubbles.png');
    }
}

h4.sec-title {
    color: #fff;
    margin: 0;
}

h3.sec-subtitle {
    // border-bottom: 2px solid $default_grey;
    display: inline-block;
}

hr {
    border: 0;
    height: 1px;
    background: transparent;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}