#contact {
    position: relative;

    form {
        @extend .ouro-card;
        @extend %border-box;
        max-width: 500px;
        padding: 8px;

        p {
            padding: 5px;

            &:not(.messages) {
                margin: 0;
                padding: 0;
            }
        }

        textarea {
            min-height: 150px;
        }

        .unfilled {
            background: #ed8787;
        }

        .success {
            background: #87ed90;
        }

        .unfilled, .success {
            color: #fff;
            transition: background-color .2s;

            @include placeholder_style() {
                color: #fff;
            }
        }
    }

    ul.presence {
        list-style-type: none; 
        margin: 0;

        li {
            background-position: center left;
            background-repeat: no-repeat;
            background-size: auto 80%;
        }

        a {
            box-shadow: none;
            color: #fff;
            font-weight: bold;
            display: block;
            padding: 20px 50px;
        }
    }
}

#footer {
    background-color: map-get($colours, text_grey);
    padding: 20px;

    a {
        box-shadow: none;
        color: map-get($colours, ouro_light);
    }

    p {
        color: #fff;
        margin-bottom: 0;
    }
}