/*
 * Site Header
 * -----------
 * Nav menu and header.
 */


#header {
    height: 100vh;

    .logo {
        background: center center/auto 40% no-repeat border-box url('../images/logo-ouro.svg');
        display: table;
        height: 100%;
        position: relative;
        width: 100%;

        h1 {
            font-size: 10vh;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }

    .prompt {
        bottom: 7.5%;
        height: 50px;
        left: 50%;
        max-width: 250px;
        position: absolute;
        right: 0;
        transform: translateX(-50%);
        width: 50%;

        > a {
            background: center center/contain no-repeat border-box url('../images/header-prompt.svg');
            display: block;
            height: 100%;
            margin: 0 auto;
            width: 100%;
        }
    }
}

.nav-shadow {
    @include box_shadow(0px -5px 39px -17px rgba(0,0,0,0.75));
}

nav#menu {
    background-color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;

    ul {
        list-style-type: none;
        margin: 0 auto;
        position: initial;
        text-align: center;

        @include breakpoint(max, 670) {
            overflow-x: scroll;
            white-space: nowrap;
        }
    }

    li {
        display: inline-block;
    }

    a {
        color: map-get($colours, text_grey);
        display: block;
        padding: 20px 15px;

        &:hover {
            @extend .ouro-border;
            padding-bottom: 14px;
        }
    }

    .current-nav {
        @extend .ouro-border;
        padding-bottom: 14px;
        transition: background-color .2s;

        &:hover {
            background-color: map-get($colours, light_grey);
        }
    }
}