/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

.ouro-card {
    @extend %border-box;
    // -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.10);
    // -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.10);
    // box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.10);
    background: #fff;
    padding: 8px !important;
}

.ouro-border {
    border-bottom: 6px solid $ouro_green_light;
}

.bottom-margin {
    margin-bottom: $bottom_default;
}

.right-margin {
    margin-right: 1%;
}

/*
 * Shadows and Gradients
 * ---------------------
 */

%smooth-gradient {
    // Gradient via http://www.colorzilla.com/gradient-editor/
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 3%, rgba(0,0,0,0) 22%, rgba(0,0,0,0.39) 99%, rgba(0,0,0,0.39) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(0,0,0,0)), color-stop(22%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.39)), color-stop(100%,rgba(0,0,0,0.39))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 3%,rgba(0,0,0,0) 22%,rgba(0,0,0,0.39) 99%,rgba(0,0,0,0.39) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 3%,rgba(0,0,0,0) 22%,rgba(0,0,0,0.39) 99%,rgba(0,0,0,0.39) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 3%,rgba(0,0,0,0) 22%,rgba(0,0,0,0.39) 99%,rgba(0,0,0,0.39) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 3%,rgba(0,0,0,0) 22%,rgba(0,0,0,0.39) 99%,rgba(0,0,0,0.39) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#63000000',GradientType=0 ); /* IE6-9 */
}

%noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%top-box-shadow {
    // Add a box shadow to the top of an element.
    -webkit-box-shadow: 0 0 60px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 60px 30px rgba(0,0,0,0.75);
    box-shadow: 0 0 60px 30px rgba(0,0,0,0.75);    
}

%no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
 * Assorted Helper Classes
 * -----------------------
 */

%cover-picture {
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover; 
}

%border-box {
    /* ALL GLORY TO THE BORDER BOX-this is used across the site in a great many
     * spots where I need to pad an element without increasing the size. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%clearfix {
    /* Bulletproof and Rock-Solid self-clearing float. You can tell it is both
    * Bulletproof and Rock-Solid since I capitalized the words. There are very
    * rare instances were I might need to use a clearing element (such as 
    * splitting floating elements vertically). */
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

%block {
    display: block;
    height: 100%;
    width: 100%;
}

%zero {
    // There are a few cases where I need to zero the margin and padding of the
    // the child of a parent with both.  
    margin: 0;
    padding: 0;
}

/* 
 * Flexible Columns
 * ----------------
 * Used in the site's footer. These ultimately weren't used on the index page as
 * the final layout was rather convoluted. 
*/

.split {
    @extend %clearfix;
    height: 100%;
}

%column {
    @extend %border-box;
    height: 100%;
    min-height: 1px;
    position: relative;
}

.col-onethird {
    @extend %column;
    width: 25%;

    .interior {
        @include breakpoint(smartphone) {
            background-size: contain;
            margin-bottom: $bottom_default;
            @include flex_size(100%, 0.25);
        }
    }
}

.col-twothirds {
    @extend %column;
    width: 75%;

    .interior {
        padding: $section_padding;

        @include breakpoint(smartphone) {
            padding: 2.5%;
        }
    }
}

.col-onethird, .col-twothirds {
    @include breakpoint(smartphone) {
        width: 100%;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-left, .float-right {
    @include breakpoint(smartphone) {
        float: none;
    }
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 30px);
}

.text-three {
    @include columns(3, 30px);
}

.text-four {
    @include columns(4, 30px);
}

.text-two, .text-three, .text-four {
    @include breakpoint(smartphone) {
        @include columns(1,0);
    }
}

/*
 * Team Member Split Columns
 * -------------------------
 * The padding and margin are both important in having the content laid out in a
 * pleasing manner.
 */

%three {
    // If there are three team members.
    width: 32.667%;

    &:not(:last-child) {
        margin-right: 1%;
    }
}

%four {
    // If there are four team members.
    width: 23.5%;

    &:not(:last-child) {
        margin-right: 2%;
    }
}

%three, %four {
    @include breakpoint(smartphone) {
        float: none;
        margin: 0;
        margin-bottom: $bottom_default;
        width: 100%;
    }
}