/*
 * Nav Menu Social Links
 * ----------------------
 */

$social: (
    comments: (#30b351, '../images/social/social-comments.png'),
    email: (#f5756c, '../images/social/social-email.png'),
    facebook: (#3B5998, '../images/social/social-facebook.png'),
    flickr: (#ff0084, '../images/social/social-flickr.png'),
    github: (#666666, '../images/social/social-github.png'),
    google: (#dd4b39, '../images/social/social-google.png'),
    instagram: (#3f729b, '../images/social/social-instagram.png'),
    linkedin: (#0976b4, '../images/social/social-linkedin.png'),
    pinterest: (#cc2127, '../images/social/social-pinterest.png'),
    print: (#007aaf, '../images/social/social-print.png'),
    reddit: (#ff5700, '../images/social/social-reddit.png'),
    rmwb: (#343537, '../images/social/social-beard.png'),
    rss: (#ff6600, '../images/social/social-rss.png'),
    tumblr: (#35465c, '../images/social/social-tumblr.png'),
    twitter: (#55acee, '../images/social/social-twitter.png'),
    youtube: (#b31217, '../images/social/social-youtube.png')
);

@each $value, $key in $social {
    .#{$value} {
        background-color: nth($key, 1);
        background-image: url(nth($key, 2));
    }
}