/*
 * Nav Menu Social Links
 * ----------------------
 * You can choose from:
 * 
 * Colour      Class       Service
 * -------------------------------
 * #f5756c     .email      Email
 * #3b5998     .facebook   Facebook     
 * #ff0084     .flickr     Flickr
 * #333        .github     GitHub
 * #dd4b39     .google     Google+
 * #3f729b     .instagram  Instagram
 * #0976b4     .linkedin   LinkedIn
 * #cc2127     .interest   Pinterest
 * #35465c     .tumblr     Tumblr
 * #55acee     .twitter    Twitter
 * #b31217     .youtube    YouTube
 * 
 * The menu takes the form of a horizontal ul.
 * Just drop in links as so:
 * 
 * <ul class="share">
 *     <li><a class="email" href="#"></a></li>
 *     ...
 *     <li><a class="youtube" href="#"></a></li>
 * </ul>
 */

$color_rmwb: #343537;
$color_comments: #30b351;
$color_email: #f5756c;
$color_facebook: #3B5998;
$color_flickr: #ff0084;
$color_github: #666666;
$color_google: #dd4b39;
$color_instagram: #3f729b;
$color_linkedin: #0976b4;
$color_pinterest: #cc2127;
$color_print: #007aaf;
$color_reddit: #ff5700;
$color_rss: #ff6600;
$color_tumblr: #35465c;
$color_twitter: #55acee;
$color_youtube: #b31217;

.beard     { background-color: $color_rmwb; background-image: url('../images/social/beard.png'); }
.comments  { background-color: $color_comments; background-image: url('../images/social/comments.png'); }
.email     { background-color: $color_email; background-image: url('../images/social/email.png'); }
.facebook  { background-color: $color_facebook; background-image: url('../images/social/facebook.png'); }
.flickr    { background-color: $color_flickr; background-image: url('../images/social/flickr.png'); } 
.github    { background-color: $color_github; background-image: url('../images/social/github.png'); }
.google    { background-color: $color_google; background-image: url('../images/social/google.png'); }
.instagram { background-color: $color_instagram; background-image: url('../images/social/instagram.png'); }
.linkedin  { background-color: $color_linkedin; background-image: url('../images/social/linkedin.png'); }
.pinterest { background-color: $color_pinterest; background-image: url('../images/social/pinterest.png'); }
// FIXME
.print:not(pre) { background-color: $color_print; background-image: url('../images/social/print.png'); }
.reddit    { background-color: $color_reddit; background-image: url('../images/social/reddit.png'); }
.rss       { background-color: $color_rss; background-image: url('../images/social/rss.png'); }
.tumblr    { background-color: $color_tumblr; background-image: url('../images/social/tumblr.png'); }
.twitter   { background-color: $color_twitter; background-image: url('../images/social/twitter.png'); }
.youtube   { background-color: $color_youtube; background-image: url('../images/social/youtube.png'); }
