#team {
    @extend %border-box;

    .teamlist, .member {
        @extend %clearfix;
        width: 100%;
    }

    %three {
        // If there are three team members.
        width: 31.33%;

        &:nth-child(2) {
            padding: 0 3%;
        }
    }

    %four {
        // If there are four team members.
        padding-right: 2%;
        width: 23.5%;

        &:last-child {
            padding-right: 0;
        }
    }

    .member {
        @extend %three;
        float: left;
        margin-bottom: $bottom_default;

        @include breakpoint(max, 1000) {
            padding: 0;
            width: 48%;
        }

        @include breakpoint(smartphone) {
            float: none;
            width: 100%;
        }

        &:last-child {
            @include breakpoint(smartphone) {
                padding-right: 0;
            }
        }

        &:nth-child(odd) {
            @include breakpoint(max, 1000) {
                margin-right: 2%;
            }
        }

        &:nth-child(even):after {
            @include breakpoint(max, 1000) {
                clear: both;
                display: table;
                width: 100%;
            }
        }

        p, h5 {
            white-space: initial;
        }
    }

    .avatar {
        @extend %cover-picture;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
    }

    .social {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .bio {
        @extend %border-box;
        background-color: $light_grey;
        font: $font_sans;
        min-height: 350px;
        padding: 15px;
        position: relative;

        span.title {
            font-size: 1.2em;
            font-variant: small-caps;
            text-transform: lowercase;
        }
    }
}
