/*
 * Team Member Section
 * -------------------
 */

$team_mar: $bottom_default * 0.5;

section#team a {
    box-shadow: none;
}

.teamlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
        box-shadow: none;
    }

    p {
        font-size: 90%;
        word-wrap: break-word;
    }
}

.member-box {
    @extend %border-box;
    flex: 0 1 25%;
    padding: 3px;

    @include breakpoint(max, 1200) {
        flex: 0 1 33%;
    }

    @include breakpoint(smartphone) {
        flex: 0 1 100%;
    }
}

.member {
    @extend %border-box;
    height: 0;
    margin-bottom: 3px;
    position: relative; 
    @include flex_size(100%, 1);

    @include breakpoint(tablet) {
        @include flex_size(100%, 1.5);
    }

    @include breakpoint(smartphone) {
        @include flex_size(100%, 1);
    }

    &:hover .bio {
        display: initial;
        visibility: visible;
    }

}

.avatar {
    @extend %cover-picture;
    @include flex_size(100%, 1);

    > a {
        display: block;
        @include flex_size(100%, 1);
    }

    @include breakpoint(tablet) {
        @include flex_size(100%, 1.5);
    }

    @include breakpoint(smartphone) {
        @include flex_size(100%, 1);
    }

}

.bio {
    @extend %border-box;
    bottom: 5px;
    display: none;
    font: $font_sans;
    left: 5px;
    position: absolute;
    right: 5px;
    z-index: 2;

    @include breakpoint(tablet) {
        bottom: 0;
        display: initial;
        left: 0;
        right: 0;
    }

    @include breakpoint(smartphone) {
        bottom: 0;
        display: initial;
        left: 0;
        right: 0;
    }

    .text {
        @extend .ouro-card;
        white-space: nowrap;

        h5, p {
            @extend %zero;
            text-align: center;
        }

        h5 {
            margin-bottom: -$bottom_default;
        }
    }
}

p.job-title {
    color: map-get($colours, ouro_dark);
    font-variant: small-caps;
    font-weight: bold;
    text-transform: lowercase;
}

@each $value, $key in $team {
    // Iterate avatars for team members.
    ##{$value} .avatar {
        background-image: url(nth($key, 1));
    }
}