/*
 * Newsletters and Contact Form
 * ----------------------------
 */

section#contact:after {
    height: 0; 
}

 section#contact form {
    p {
        padding: 5px;

        &:not(.messages) {
            @extend %zero;
        }
    }
    
    .messages {
        color: map-get($colours, text_grey);
    }

    .unfilled {
        background: map-get($colours, error_red);
    }

    .success {
        background: #87ed90;
    }

    .unfilled, .success {
        color: #fff;
        transition: background-color .2s;

        @include placeholder_style() {
            color: #fff;
        }
    }
}

form { 
    display: block;
    overflow: hidden;
    margin: 0 auto;
    max-width: 660px;

    input, textarea {
        background-color: map-get($colours, light_grey);
        display: block;
        font-size: 1em;
        padding: 12px;
        width: 100%;

        &:not([type=submit]) {
            margin-bottom: $bottom_default;

            &:focus {
                box-shadow: 0 0 1px 1px map-get($colours, ouro_light);
            }
        }
    }

    input[type=submit] {
        background-color: map-get($colours, ouro_light);
        color: #fff;
        text-transform: uppercase;
        margin: 0 auto;
        width: 50%;

        @include breakpoint(smartphone) {
            width: 100%;
        }

        &:active {
            background: map-get($colours, ouro_dark);
        }

        &:after {
            @extend %clearfix;
        }
    }

    textarea {
        min-height: 125px;
    }

    input:-webkit-autofill {
        color: rgba(255,255,255,0.2) !important;
    }

    .mce_inline_error {
        background: map-get($colours, error_red) !important;

        @include placeholder_style() {
            color: #fff !important;
        }
    }
}