/*
 * Ouro Site Footer
 * ----------------
 */

#footer {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;

    @include breakpoint(smartphone) {
        position: initial;
        padding-bottom: 0;
    }

    a {
        box-shadow: none;
        color: map-get($colours, ouro_light);
    }

    p {
        margin-bottom: 0;
        text-align: center;
    }
}