/*
 * Gallery and Lightbox
 * --------------------
 */

/*
 * Gallery Variables
 * -----------------
 */

// Size of control image.
$control_size: auto 40%;
// Inset of previous-next image controls.
$control_inset: 20px;
$control_left_inset: calc(100% - #{$control_inset}) center;
$control_right_inset: $control_inset center; 
// Fallback gallery height and width.

/*
 * Gallery Container
 * -----------------
 */

div.gallery {
    @extend %border-box;

    @include webkit_value(display, flex);
    @include webkit(flex-direction, row);
    @include webkit(flex-wrap, wrap);
}

/*
 * Gallery Individual Image
 * ------------------------
 */

a.image {
    display: block;
    // Otherwise Chrome adds a tiny amount to the height.
    font-size: 0 !important;
    opacity: 0;
    overflow: hidden;

    @include webkit(align-self, center);
    @include webkit(flex, 0 1 12.5%);

    @include breakpoint(portrait) {
        @include webkit(flex, 0 1 16.6667%);
    }

    @include breakpoint(smartphone) {
        @include webkit(flex, 0 1 33.3%);
    }

    img {
        @extend %border-box;
        overflow: hidden;
        padding: 5px;
        width: 100%;
    }

    &:hover {
        background: rgba(#fff, 0.7);
        @extend %ouro-card;
    }

    span {
        font-size: 1em;
        font-family: inherit;
    }
}

/*
 * Gallery Lightbox
 * ----------------
 */

div#lightbox {
    background-color: rgba(#000, 0.9);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;

    img {
        margin: auto;
        max-height: 95%;
        width: auto;

        @include breakpoint(portrait) {
            height: auto;
            max-width: 95%;
            max-height: none;
        }
    }
}

/*
 * Gallery Lightbox Controls
 * -------------------------
 */

a.close {
    background: center center/$control_size no-repeat url('../images/lightbox/lightbox-close.svg');
    display: block;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;

    @include breakpoint(smartphone) {
        height: 60px;
        width: 60px;
    }
}

nav.controls {
    bottom: 10px;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;

    @include webkit_value(display, flex);
    @include webkit(flex-direction, row);
    @include webkit(justify-content, space-between);

    .control {
        height: 100%;
        width: 50%;

        @include webkit_value(display, flex);
        @include webkit(justify-content, flex-start);
    }

    .left {
        background: $control_left_inset/$control_size no-repeat url('../images/lightbox/lightbox-indicator-left.svg');
    }

    .right {
        background: $control_right_inset/$control_size no-repeat url('../images/lightbox/lightbox-indicator-right.svg');
    }
}