/*
 * Gallery and Lightbox
 * --------------------
 */

// Size of control image.
$lightbox-control-size: auto 40%;

$lightbox-close: url($image-folder + '/lightbox/lightbox-close.svg');
$lightbox-indicator-left: url($image-folder + '/lightbox/lightbox-indicator-left.svg');
$lightbox-indicator-right: url($image-folder + '/lightbox/lightbox-indicator-right.svg'); 

// Inset of previous-next image controls.
$control-inset: 20px;
$control-inset-left: calc(100% - #{$control-inset}) center;
$control-inset-right: $control-inset center; 

/*
 * Gallery Container
 * -----------------
 */

div.gallery {
    box-sizing: border-box;
    @include webkit_value(display, flex);
    @include webkit(flex-direction, row);
    @include webkit(flex-wrap, wrap);
}

/*
 * Gallery Individual Image
 * ------------------------
 */

a.image {
    display: block;
    // Otherwise Chrome adds a tiny amount to the height.
    font-size: 0 !important;
    opacity: 0;
    overflow: hidden;

    @include webkit(align-self, center);
    @include webkit(flex, 0 1 12.5%);

    @include media(portrait) {
        @include webkit(flex, 0 1 16.6667%);
    }

    @include media(max, 650) {
        @include webkit(flex, 0 1 20%);
    }

    @include media(smartphone) {
        @include webkit(flex, 0 1 33.3%);
    }

    img {
        box-sizing: border-box;
        overflow: hidden;
        padding: 5px;
        width: 100%;
    }

    &:hover {
        background-color: $colour-ouro-light;
    }

    span {
        font-size: 1em;
        font-family: inherit;
    }
}

/*
 * Gallery Lightbox
 * ----------------
 */

div#lightbox {
    background-color: rgba(#000, 0.9);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;

    img {
        margin: auto;
        max-height: 95%;
        width: auto;

        @include media(portrait) {
            height: auto;
            max-width: 95%;
            max-height: none;
        }
    }
}

/*
 * Gallery Lightbox Controls
 * -------------------------
 */

a.close {
    background: center center/$lightbox-control-size no-repeat $lightbox-close;
    display: block;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;

    @include media(smartphone) {
        height: 60px;
        width: 60px;
    }
}

nav.controls {
    bottom: 10px;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    @include webkit_value(display, flex);
    @include webkit(flex-direction, row);
    @include webkit(justify-content, space-between);

    .control {
        height: inherit;
        width: 50%;
        @include webkit_value(display, flex);
        @include webkit(justify-content, flex-start);
    }

    .left {
        background: $control-inset-left/$lightbox-control-size no-repeat $lightbox-indicator-left;
    }

    .right {
        background: $control-inset-right/$lightbox-control-size no-repeat $lightbox-indicator-right;
    }
}