/*
 * Gallery and Lightbox
 * --------------------
 */

/*
 * Lightbox Controls
 * -----------------
 */

// Size of control image.
$control_size: auto 40%;
// Inset of previous-next image controls.
$control_inset: 20px;
$control_left_inset: calc(100% - #{$control_inset}) center;
$control_right_inset: $control_inset center; 
// Fallback gallery height and width.
$gallery_width: 100%;

div.gallery {
    @extend %border-box;
    // height: auto;
    margin: auto;
    width: $gallery_width;

    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(flex-wrap, wrap);
}

a.image {
    @extend .focus;
    display: block;
    // Otherwise Chrome adds a tiny amount to the height.
    font-size: 0 !important;
    overflow: hidden;

    @include prefix(align-self, center);
    @include prefix(flex, 0 1 25%);

    @include breakpoint(smartphone) {
        @include prefix(flex, 0 1 50%);
    }

    img {
        @extend %border-box;
        overflow: hidden;
        padding: 5px;
        width: 100%;
    }
}

div#lightbox {
    background-color: rgba(#000, 0.9);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;

    img {
        margin: auto;
        max-height: 95%;
        width: auto;

        @include breakpoint(portrait) {
            height: auto;
            max-width: 95%;
            max-height: none;
        }
    }

    a.close {
        background: center center/$control_size no-repeat url('../images/lightbox/lightbox-close.svg');
        display: block;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 50px;

        @include breakpoint(smartphone) {
            height: 60px;
            width: 60px;
        }
    }

    nav.controls {
        bottom: 10px;
        height: 60px;
        left: 0;
        position: absolute;
        right: 0;

        @include prefix_value(display, flex);
        @include prefix(flex-direction, row);
        @include prefix(justify-content, space-between);

        .control {
            height: 100%;
            width: 50%;

            @include prefix_value(display, flex);
            @include prefix(justify-content, flex-start);
        }

        .left {
            background: $control_left_inset/$control_size no-repeat url('../images/lightbox/lightbox-indicator-left.svg');
        }

        .right {
            background: $control_right_inset/$control_size no-repeat url('../images/lightbox/lightbox-indicator-right.svg');
        }
    }
}