/*
 * Site Header
 * -----------
 * The site header is stacked vertically, at least in this build.
 */

section#home {
    height: 100vh;
    @include webkit_value(display, flex);
    @include webkit(flex-direction, column);
    @include webkit(justify-content, center);

    @include breakpoint(smartphone) {
        height: 125vh;
    }

    div.brand, div.blurb {
        @include webkit_value(display, flex);
        @include webkit(flex-direction, column);
        @include webkit(justify-content, center);
    }

    div.brand {
        background: center center/auto 50% no-repeat border-box url('../images/logo-ouro.svg');
        @include webkit(flex, 0 1 75%);

        @include breakpoint(smartphone) {
            background-size: auto 55%; 
            @include webkit(flex, 1);
        }
    }

    div.blurb {
        @include webkit(flex, 1);
    }

    h1 {
        font-size: 6em;
        text-align: center;

        @include breakpoint(tablet) {
            font-size: 5.5em;
        }

        @include breakpoint(smartphone) {
            font-size: 4em;
        }
    }

    p {
        margin: 0;
    }
}