/*
 * Site Header
 * -----------
 * The site header is stacked vertically, at least in this build.
 */

#home {
    height: 100vh;
    position: relative;

    @include webkit_value(display, flex);
    @include webkit(flex-direction, column);
}

/****/

div.header-top, div.header-bottom {
    @include webkit_value(display, flex);
    @include webkit(justify-content, center);
    @include webkit(align-items, center);
}

div.header-top {
    @include webkit(flex, 0 1 75%);
}

div.header-bottom {
    @include webkit(flex, 1);
    @include webkit(flex-direction, column);
}

div.header-top {
    background: center center/auto 50% no-repeat border-box url('../images/logo-ouro.svg');

    @include breakpoint(smartphone) {
        @include webkit(flex, 0 1 60%);
    }

    h1 {
        font-size: 6em;
        text-align: center;

        @include breakpoint(smartphone) {
            font-size: 4em;
        }
    }
}

div.header-bottom {
    @extend %border-box;
    padding: 0 10%;

    > * {
        text-align: center; 
    }

    a {
        color: map-get($colours, ouro_dark);
    }
}