/*
 * Site Header
 * -----------
 * Nav menu and header.
 */

#home {
    height: 100vh;

    .logo {
        background: center center/auto 40% no-repeat border-box url('../images/logo-ouro.svg');
        display: table;
        height: 100%;
        position: relative;
        width: 100%;

        h1 {
            color: map-get($colours, text_grey);
            font-size: 10vh;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }

    .prompt {
        bottom: 10%;
        height: 50px;
        left: 0;
        position: absolute;
        width: 100%;

        @include breakpoint(tablet) {
            bottom: 17%;
        }

        > a {
            background: center center/contain no-repeat border-box url('../images/header-prompt.svg');
            display: block;
            height: 100%;
            margin: 0 auto;
            width: 250px;
        }
    }
}