/*
 * General Navigation Rules
 * ------------------------
 */

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
    }
}

/*
 * Site Top Navigation Menu
 * ------------------------
 */

.nav-box-shadow {
    // Box shadow attached on window scroll.
    @include prefix(box-shadow, 0px -5px 39px -17px rgba(0,0,0,0.75));
}

a.blog {
    // Link to the blog.
    background: map-get($colours, ouro_red);
    color: #fff;
}

nav#menu {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    ul {
        margin: 0 auto;
        position: initial;
        text-align: center;

        @include breakpoint(max, 670) {
            overflow-x: scroll;
            white-space: nowrap;
        }
    }

    li {
        color: #fff;
    }

    a {
        color: inherit;
        padding: 15px 20px;
        transition: color .2s, background-color .4s;
    }

    a.nav:hover {
        @extend .ouro-background;
    }

    .current-nav {
        @extend .ouro-background;
    }
}

/*
 * Nav Menu Social Links
 * ----------------------
 * Used in the team-feature: Click on a person and their social links pop up
 * in the feature area.
 */

@each $value, $key in $social {
    // Iterate to produce social links.
    .#{$value} {
        background-color: nth($key, 1);
        background-image: url(nth($key, 2));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 95%;
    }
}

ul.social {
    @extend %zero;
    bottom: 5px;
    list-style-type: none;
    position: absolute;
    left: 5px;
    width: 100%;

    li {
        float: left;
        font-size: 0;
        @include flex_size(45px, 1);

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    a {
        display: block;
        @include flex_size(100%, 1);
    }
}

/*
 * Standalone Twitter Link
 * -----------------------
 * Positioned in the bottom-left corner of the Ouro page.
 */

a#ouro-twitter {
    @extend .nav-box-shadow;
    border-radius: 50%;
    bottom: 20px;
    left: 20px;
    position: fixed;
    z-index: 7;

    @include flex_size(50px, 1);

    @include breakpoint(smartphone) {
        display: none;
    }
}
