/*
 * Site Top Navigation Menu
 * ------------------------
 */

.nav-box-shadow {
    // Box shadow attached on window scroll.
    border-bottom: 1px solid map-get($colours, light_grey);
}

nav#menu {
    @extend %single-section-padding;
    left: 0;
    height: 70px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    @include webkit_value(display, flex);
    @include webkit(flex-direction, row);
    @include webkit(flex-wrap, nowrap);
    @include webkit(justify-content, flex-start);
    @include webkit(align-items, center);

    @include breakpoint(smartphone) {
        @include webkit(justify-content, center);
    }

    a {
        border: 0;
        color: map-get($colours, text_grey);
        font-weight: 100;
        text-shadow: none;
        transition: color .2s, background-color .4s;
    }

    ul, h4 {
        @extend %zero;
        display: inline-block;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
    }


    >:nth-child(1) {
        border-right: 1px solid map-get($colours, light_grey);
        padding-right: $bottom_default * 2;

        @include breakpoint(smartphone) {
            border: 0;
            padding: 0 $bottom_default;
        }
    }

    >:nth-child(2) {
        @include breakpoint(smartphone) {
            display: none;
        }
    }

    >:nth-child(3) {
        border-left: 1px solid map-get($colours, light_grey);
        padding-left: $bottom_default * 2;

        @include breakpoint(smartphone) {
            
            padding: 0 $bottom_default;
        }
    }

    a.nav:hover {
        @extend .ouro-background;
    }

    .current-nav {
        @extend .ouro-background;
    }
}


ul.navigation {
    @include webkit(flex, 1);

    @include breakpoint(portrait) {
        text-align: center;
    }

    a {
        padding: 0 12px;
    }
}

ul.social {
    a {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 95%;
        display: block;

        @include flex_size(35px, 1);
    }
}

/*
 * Ouro Brand Text
 *
 */

h4.ouro-brand {
    display: inline-block;
    font-size: 2em;

    @include webkit(flex, 0 1 auto);

    @include breakpoint(portrait) {
        padding-right: $bottom_default;
    }

    span {
        color: inherit;
    }
}

h4.ouro-brand a.current-nav {
    span:first-child {
        @extend .ouro-light;
    }

    span:last-child {
        @extend .ouro-dark;
    }
}

/*
 * Geneate Social Links
 * --------------------
 */

@each $value, $key in $social {
    // Iterate map to produce social links.
    .#{$value} {
        background-color: nth($key, 1);
        background-image: url(nth($key, 2));
    }
}