/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

%ouro-card {
    @extend .ouro-box-shadow;
    border-radius: 5px;
}

.ouro-border {
    border-bottom: 6px solid map-get($colours, ouro_light);
}

.ouro-box-shadow {
    // Box shadow is used for several elements.
    @include prefix(box-shadow, 0px 0px 7px 0px rgba(0,0,0,0.3));
}

.ui-loader {
    // Top stop jQuery Mobile's loader displaying.
    display: none !important;
}

.feature {
    margin-top: 30px;

    @include breakpoint(smartphone) {
        margin-top: $bottom_default;
    }
}

/*
 * Section Interior Padding
 * ------------------------
 */

%content-padding {
    $int_padding: 20%;

    padding-left: $int_padding;
    padding-right: $int_padding;

    @include breakpoint(max, 1600) {
        padding-left: $int_padding * 0.8;
        padding-right: $int_padding * 0.8;
    }

    @include breakpoint(max, 1200) {
        padding-left: $int_padding * 0.6;
        padding-right: $int_padding * 0.6;
    }

    @include breakpoint(max, 1000) {
        padding-left: $int_padding * 0.4;
        padding-right: $int_padding * 0.4;
    }

    @include breakpoint(max, 800) {
        padding-left: $int_padding * 0.2;
        padding-right: $int_padding * 0.2;
    }

    @include breakpoint(max, 700) {
        padding-left: $int_padding * 0.1;
        padding-right: $int_padding * 0.1;
    }

    @include breakpoint(smartphone) {
        padding-left: 0;
        padding-right: 0;
    }
}

/*
 * Shadows and Gradients
 * ---------------------
 */

%top-box-shadow {
    // Add a box shadow to the top of an element.
    @include prefix(box-shadow, 0 0 60px 30px rgba(0,0,0,0.75));
}

%no-box-shadow {
    @include prefix(box-shadow, none);
}

/*
 * Assorted Helper Classes
 * -----------------------
 */

%noselect {
    /* Disable all text selection on an element. Useful for those elements where
     * the text is supposed to be "background". */
    cursor: default;
    -webkit-touch-callout: none;
    @include prefix(user-select, none);
}

%cover-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

%border-box {
    /* ALL GLORY TO THE BORDER BOX-this is used across the site in a great many
     * spots where I need to pad an element without increasing the size. */
    @include prefix(box-sizing, border-box);
}

%clearfix {
    /* Bulletproof and Rock-Solid self-clearing float. You can tell it is both
    * Bulletproof and Rock-Solid since I capitalized the words. There are very
    * rare instances were I might need to use a clearing element (such as 
    * splitting floating elements vertically). */
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

%block {
    display: block;
    height: 100%;
    width: 100%;
}

%zero {
    // There are a few cases where I need to zero the margin and padding of the
    // the child of a parent with both.  
    margin: 0;
    padding: 0;
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 30px);
}

.text-three {
    @include columns(3, 30px);
}

.text-four {
    @include columns(4, 30px);
}

.text-two, .text-three, .text-four {
    @include breakpoint(max, 950) {
        @include columns(1,0);
    }
}