/*
 * Content Sections
 * ----------------
 */

/*
 * Parent Content Container 
 * ------------------------
 */

/*
 * Base Section Layout
 * -------------------
 * Sections are a mish-mash, in part because of Internet Explorer and Safari 
 * Mobile.
 * 
 * 1. Flex centering does not work, period, in Internet Explorer if the parent
 *    container has a min-height set. I would *much* rather set min-height here
 *    initially, 
 */
 
.squished {
    padding: $bottom_default 20%;

    @include breakpoint(max, 1100) {
        padding: $bottom_default 15%;
    }

    @include breakpoint(max, 850) {
        padding: $bottom_default 5%;
    }

    @include breakpoint(smartphone) {
        padding: $bottom_default 2.5%;
    }
}

.inverse {
    .sec-title, p {
        color: #fff;
    }
}

.light {
    .sec-title {
        color: map-get($colours, ouro_light);
    }
}

section#product {
    background: rgba(0,0,0,0.1);
}

section#team {
    // background: rgba(0,0,0,0.3);
}

section {
    @extend %border-box;
    padding: $bottom_default 2.5%;

    a {
        color: map-get($colours, ouro_dark);
    }

    p, h3, .sec-title {
        text-align: center;

        @include breakpoint(smartphone) {
            text-align: left;
        }
    }
}

section:not(#home) {
    @extend %border-box;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;

    @include webkit_value(display, flex);
    @include webkit(flex-direction, column);
    @include webkit(justify-content, center);

    > * {
        @include webkit(flex, 0 1 100%);

        @include breakpoint(smartphone) {
            @include webkit(flex, 1);
        }
    }
}

/*
 * Section Backdrops
 * -----------------
 * Backdrop image for each section.
 */

section#contact {
    @include cover(nth(map-get($sections, contact), 1));
}

// @each $value, $key in $sections {
//     section##{$value} {
//         @include cover(nth($key, 1));
//     }
// }