/*
 * Content Sections
 * ----------------
 */

$section_padding: 15px;
$section_padding_wide: 35%;
$section_padding_narrow: 15%;

/*
 * Parent Content Container 
 * ------------------------
 */

#content a {
    color: map-get($colours, ouro_dark);
}

/*
 * Base Section Layout
 * -------------------
 * Sections are a mish-mash, in part because of Internet Explorer and Safari 
 * Mobile.
 * 
 * 1. Flex centering does not work, period, in Internet Explorer if the parent
 *    container has a min-height set. I would *much* rather set min-height here
 *    initially, 
 */

section:not(#home) {
    @extend %border-box;
    // height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;

    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(flex-wrap, nowrap);

    @include breakpoint(smartphone) {
        @include prefix(flex-direction, column);
        padding: 20px 2.5%;
    }

    &:nth-child(odd) {
        background-color: #f5f5f5;
        @include prefix(flex-direction, row-reverse);

        @include breakpoint(smartphone) {
            @include prefix(flex-direction, column);
        }

        .side .wrapper {
            padding-right: $section_padding_wide;
            

            @include breakpoint(max, 1200) {
                padding-right: $section_padding_narrow;
            }

            @include breakpoint(smartphone) {
                padding: 0;
            }
        }
    }

    &:nth-child(even) .side .wrapper {
        padding-left: $section_padding_wide;

        @include breakpoint(max, 1200) {
            padding-left: $section_padding_narrow;
        }
        
        @include breakpoint(smartphone) {
            padding: 0;
        }

        h3, p {
            text-align: right;

            @include breakpoint(smartphone) {
                text-align: left;
            }
        }
    }
}

/*
 * Single Interior Column
 * ----------------------
 * An alternate arrangement is a single centered column.
 */

.single {
    margin: auto;
    padding: 0 20%;
    @include prefix(align-self, center);
    @include prefix(flex, 1);

    @include breakpoint(max, 1200) {
        padding-left: 0 $section_padding_narrow;
    }

    @include breakpoint(smartphone) {
        padding: 0;
    }

    h3, h5, p {
        text-align: center;
    }
}

/*
 * Section Interior Elements
 * -------------------------
 * There is an asymmetric 4:6 ratio layout, accent and main. The positions of 
 * each alternate back and forth through odd/even children.
 * 
 * div.main: 70% width.
 * div.accent: 30% width.
 */

div.side {
    @include prefix(flex, 0 1 40%);
}

div.main {
    @include prefix(flex, 0 1 60%);
}

div.main, div.side {
    @include prefix_value(display, flex);
    // Fallback for Internet Explorer
    @include prefix(align-items, center);
    @include prefix(flex-align, center);
    @include prefix(flex-pack, center);

    div.wrapper {
        margin: auto;
        width: 100%;
    }

    @include breakpoint(smartphone) {
        @include prefix(flex, 1);
    }
}

div.main div.wrapper {
    // Main interior wrapper pads out content.
    @extend %border-box;

    padding: 0 $section_padding_wide 0 $section_padding_narrow;

    @include breakpoint(max, 1200) {
        padding: 0 $section_padding_narrow;
    }

    @include breakpoint(smartphone) {
        padding: 0;
    }
}

/*
 * Section Backdrops
 * -----------------
 * Backdrop image for each section.
 */

@each $value, $key in $sections {
    section##{$value} {
        @include cover(nth($key, 1));
    }
}