/*
 * Base Section Layout
 * -------------------
 */

.inverse {
    .sec-title, p, .mce_inline_error {
        background: transparent;
        color: #fff;
    }

}

.light {
    .sec-title {
        color: map-get($colours, ouro_light);
    }
}

section {
    @extend %border-box;
    position: relative;

    a {
        color: map-get($colours, anchor_alt_red);
    }

    p, h4, h5, h3, .sec-title {
        text-align: center;

        @include breakpoint(smartphone) {
            text-align: left;
        }
    }
}

section:not(#home) {
    @include prefix(min-height, calc(100vh - #{$navigation_menu_height}));
}

/*
 * Section Interior Container
 * --------------------------
 * I had a devil of a time with Internet Explorer so I fell back to absolute 
 * positioning. It's simpler...and it works.
 */

.content {
    @extend %border-box;
    @extend %content-padding;
    // top: 50%;
    top: 40%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 100%;
    @include prefix(transform, translateY(-50%));

    @include breakpoint(smartphone) {
        position: initial;
        padding: 20px 5%;
        @include prefix(transform, none);
    }
}

/*
 * Section Backdrops
 * -----------------
 * Backdrop image for each section.
 */

section#contact {
    @include cover(nth(map-get($sections, contact), 1));
}
