/*
 * Team Member Section
 * -------------------
 */

section#team .sec-title {
    text-align: right;
}

section#team .solid-backdrop {
    background-color: map-get($colours, ouro_dark);
}

.teamlist {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
        box-shadow: none;
    }

    p {
        font-size: 90%;
        word-wrap: break-word;
    }
}

.member {
    @extend %border-box;
    flex: 0 1 33%;
    height: 0;
    margin-bottom: 3px;
    position: relative; 
    @include flex_size(33%, 1);

    a.avatar {
        background-position: center center;
        background-size: cover;
        display: block;
        @include flex_size(100%, 1);
    }

    .bio {
        // Content gets displayed in a different box via JS.
        display: none;
    }
}

@each $value, $key in $team {
    // Iterate avatars for team members.
    ##{$value} .avatar {
        background-image: url(nth($key, 1));
    }
}

/*
 * Showcase for Team
 * -----------------
 */

#team-feature {
    $feature_space: 5px;

    .avatar {
        background-size: cover;
        background-position: center top;
        position: relative;
        @include flex_size(100%, 0.8);
    }

    .name {
        border-bottom: 1px solid #fff;
        margin-bottom: $feature_space;
    }

    p.blurb {
        border-top: 1px solid #fff;
        margin-top: $feature_space;
    }

    ul.social {
        @extend %zero;
        bottom: 0;
        left: $feature_space / 2;
        list-style-type: none;
        position: absolute;

        li {
            display: inline-block;
            margin-right: $feature_space;
            @include flex_size(45px, 1);
        }

        a {
            display: block;
            @include flex_size(100%, 1);
        }
    }
}