/*
 * Team Member Section
 * -------------------
 */

section#team .solid-backdrop {
    background-color: map-get($colours, ouro_dark);
}

.teamlist {
    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(flex-wrap, wrap);
}

.member {
    @extend %border-box;
    @include prefix(align-self, center);
    @include prefix(flex, 0 1 50%);

    @include breakpoint(smartphone) {
        @include prefix(flex, 0 1 20%);
    }

    a.avatar {
        @extend .focus;
        display: block;
        // Otherwise Chrome adds a tiny amount to the height.
        font-size: 0 !important;
        overflow: hidden;

        img {
            @extend %border-box;
            padding: 5px;
        }
    }

    .bio {
        // Content gets displayed in a different box via JS.
        display: none;
    }
}

/*
 * Showcase for Team
 * -----------------
 */

#team-feature {
    .avatar {
        @extend %cover-picture;
        background-position: center top;
        position: relative;
        @include flex_size(100%, 1);
    }

    .mask {
        background-color: rgba(#000, 0.4);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .name {
        display: block;
        font-weight: bold;
        margin: 10px 0;
    }

    p {
        margin: 0;
        min-height: 125px;

        @include breakpoint(smartphone) {
            min-height: none;
        }
    }
}