/*
 * Headline Items
 * ------------
 */

h1, h2, h3, h4, h5, h6 {
    color: $colour-text-grey;
    font-weight: 100;
    letter-spacing: 1px;
}

h1, h2, h3 {
    font-family: $font-fjallaone;
}

h4, h5, h6 {
    font-family: $font-opensans;
    font-weight: $font-weight-text;
    margin-bottom: $margin-default;
}

h1, %h1 { font-size: $headline-size-h1; }
h2, %h2 { font-size: $headline-size-h2; }
h3, %h3 { font-size: $headline-size-h3; }
h4, %h4 { font-size: $headline-size-h4; }
h5, %h5 { font-size: $headline-size-h5; }
h6, %h6 { font-size: $headline-size-h6; }

/*
 * Non-healine Items 
 * -----------------
 */

p, %p {
    // This is the baseline for all non-headline text.
    color: $colour-text-grey;
    font-family: $font-opensans;
    font-size: $text-size-sans;
    font-weight: $font-weight-text;
    line-height: $line-height-text;
}

a, abbr, acronym, big, cite, code, del, em, ins, small, span, strike, strong, sub, sup {
    font-family: inherit;
    font-size: inherit;
}

/*
 * Bold Text
 * ---------
 */

a, b, cite, dt, strong {
    font-weight: bold;
}

/*
 * Italic Text
 * -----------
 */

em, i, ins, q, var {
    font-style: italic;
}

/*
 * Code Blocks
 * -----------
 */

code, kbd, pre, pre span, tt, var {
    font-family: $font-sourcecodepro;
    font-size: $text-size-fixed;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
}

pre {
    background-color: transparent;
    color: #fff;
    line-height: 1.2em;
    overflow: auto;
}

/*
 * Miscellaneous Inline Elements
 * -----------------------------
 */

abbr, acronym {
    background: $colour-ouro-light;
    padding: 1px 3px;
}

big {
    font-size: 130%;
}

cite {
    font-size: 85%;
    display: block;
    margin: 7px 0 0 2px;

    &:before {
        content: '-';
    }
}

del, strike {
    text-decoration: line-through;
}

dt {
    font-size: 105%;
}

dd {
    margin-bottom: 5px;
    padding-left: $margin-default;

    &:before {
        content: '» ';
    }
}

ins { 
    font-size: 90%;
}

li {
    line-height: 1em;
}

q {
    font-size: 95%;
}

small {
    font-size: 88%;
    letter-spacing: 0;
    line-height: normal;
}

sub, sup {
    font-size: 85%;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

ol, ul {
    margin: 0 $margin-default-28;
}

ul {
    list-style-type: square;   
}

address, dd, dt, p, li, th, td {
    -webkit-font-smoothing: antialiased;
    @extend %p;
}

input, textarea, button, blockquote, li {
    @extend %p;
}

blockquote, ol, p, pre, ul {
    margin-bottom: $margin-default;
}

blockquote {
    border-left: 3px solid rgba(0,0,0,0.4);
    padding: 0 $margin-default-19;
}

li {
    margin-bottom: 0;
}