/* 
 * Font Stacks
 * ------------
 */

$title_fjalla: 5em 'Fjalla One', Charcoal, sans-serif;
$title_verdana: 3em Verdana, Geneva, sans-serif;
$title_opensans: 400 5em 'Open Sans Condensed', Verdana, Geneva, sans-serif;
$font_sans: 400 1em 'Roboto', 'Source Sans Pro', sans-serif, 'Trebuchet MS';
$font_monospace: 0.9em 'Source Code Pro', 'Courier New', Courier, monospace;
$font_serif: 0.9em 'Noto Serif', Georgia, serif;

/*
 * Colours 
 * -------
 */

$colours: (
    ouro_dark: #669c5f,
    ouro_light: #b9dfbc,
    ouro_red: #ff5d5d,
    terminal_green: #00ff00,
    text_grey: #464646,
    text_white: #fff,
    active_grey: #bbb,
    light_grey: #eee
);

/*
 * Section Backgrounds
 * -------------------
 */

$sections: (
    home: ('../images/backgrounds/background-intro.jpg'),
    intro: ('../images/backgrounds/background-home.jpg'),
    team: ('../images/backgrounds/background-team.jpg'),
    product: ('../images/backgrounds/background-product.jpg'),
    contact: ('../images/backgrounds/background-contact.jpg')
);

/*
 * Social Images and Colours
 * -------------------------
 */

$social: (
    comments: (#30b351, '../images/social/social-comments.png'),
    email: (#f5756c, '../images/social/social-email.png'),
    facebook: (#3B5998, '../images/social/social-facebook.png'),
    flickr: (#ff0084, '../images/social/social-flickr.png'),
    github: (#666666, '../images/social/social-github.png'),
    google: (#dd4b39, '../images/social/social-google.png'),
    instagram: (#3f729b, '../images/social/social-instagram.png'),
    linkedin: (#0976b4, '../images/social/social-linkedin.png'),
    pinterest: (#cc2127, '../images/social/social-pinterest.png'),
    print: (#007aaf, '../images/social/social-print.png'),
    reddit: (#ff5700, '../images/social/social-reddit.png'),
    rmwb: (#343537, '../images/social/social-beard.png'),
    rss: (#ff6600, '../images/social/social-rss.png'),
    tumblr: (#35465c, '../images/social/social-tumblr.png'),
    twitter: (#55acee, '../images/social/social-twitter.png'),
    youtube: (#b31217, '../images/social/social-youtube.png')
);

/*
 * Margins
 * -------
 */

$bottom_default: 13px;
$section_padding_narrow: 15%;
$section_padding_wide: 35%;

/*
 * Mixins and Partials
 * -------------------
 */

@import 'mixins';
@import 'partials';

/*
 * Imports
 * ------- 
 */

@import 'reset';
@import 'typography';
@import 'sections';
@import 'header';
@import 'nav';
@import 'team';
@import 'contact';
@import 'gallery';
@import 'footer';