/*
 * Path to Images
 * --------------
 */

$image-folder: '../images';

/*
 * Section Backgrounds
 * -------------------
 */

$sections: (
    home: ($image-folder + '/backgrounds/background-intro.jpg'),
    bioprint: ($image-folder + '/backgrounds/background-bioprint.jpg', #000),
    intro: ($image-folder + '/backgrounds/background-home.jpg'),
    team: ($image-folder + '/backgrounds/background-team.jpg'),
    product: ($image-folder + '/backgrounds/background-product.jpg'),
    contact: ($image-folder + '/backgrounds/background-contact.jpg')
);

/*
 * Bioprinting Workflow Panes
 * --------------------------
 */

$panes: (
    conceive: ($image-folder + '/panes/pane-conceive.svg'),
    diagram: ($image-folder + '/panes/pane-diagram.svg'),
    print: ($image-folder + '/panes/pane-print.svg'),
    iterate: ($image-folder + '/panes/pane-iterate.svg')
);

/*
 * Social Images and Colours
 * -------------------------
 */

$social-icons: (
    beard: (#343537, 0, 0),
    discuss: (#b9dfbc, -35px, 0),
    email: (#f5756c, -70px, 0),
    facebook: (#3B5998, -105px, 0),
    flickr: (#ff0084, -140px, 0),
    github: (#666666, -175px, 0),
    google: (#dd4b39, 0, -35px),
    instagram: (#3f729b, -35px, -35px),
    linkedin: (#0976b4, -70px, -35px),
    pinterest: (#cc2127, -105px, -35px),
    print: (#007aaf, -140px, -35px),
    reddit: (#ff5700, -175px, -35px),
    rss: (#ff6600, 0, -70px),
    search: ('', -35px, -70px),
    share: ('', -70px, -70px),
    tumblr: (#35465c, -105px, -70px),
    twitter: (#55acee, -140px, -70px),
    youtube: (#b31217, -175px, -70px) 
);

$social-sprites: $image-folder + '/social/social-sprites.svg';

/*
 * Ouro Brand Logo
 * ---------------
 */

$ouro-logo: url($image-folder + '/logo-ouro.svg');

/* 
 * Font Stacks
 * ------------
 */

// Headline font sizes.
$headline-size-h1: 5em;
$headline-size-h2: $headline-size-h1 * 0.8;
$headline-size-h3: $headline-size-h1 * 0.6;
$headline-size-h4: $headline-size-h1 * 0.4;
$headline-size-h5: $headline-size-h1 * 0.2;
$headline-size-h6: $headline-size-h1 * 0.1;
// Text font sizes.
$text-size-sans: 1em;
$text-size-fixed: $text-size-sans * 0.9;
$text-size-serif: $text-size-sans * 0.9;
// Text font weight.
$font-weight-text: 400;
// Text line height.
$line-height-text: $text-size-sans * 1.4;
// Font families.
$font-fjallaone: 'Fjalla One', Charcoal, sans-serif;
$font-opensans: 'Open Sans', Verdana, Geneva, sans-serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-roboto: 'Roboto', 'Source Sans Pro', sans-serif, 'Trebuchet MS';
$font-sourcecodepro: 'Source Code Pro', 'Courier New', Courier, monospace;
$font-notoserif: 'Noto Serif', Georgia, serif;

/*
 * Colours 
 * -------
 */

$colour-ouro-dark: #669c5f;
$colour-ouro-light: #b9dfbc;
$colour-ouro-red: #ff5d5d;
$colour-terminal-green: #00ff00;
$colour-text-grey: #464646;
$colour-text-white: #fff;
$colour-active-grey: #bbb;
$colour-light-grey: #eee;
$colour-header-grey: #fafafa;
$colour-error-red: #ed8787;
$colour-anchor-blue: #3399cc;

/*
 * Website Breakpoints and Padding
 * -------------------------------
 * These go hand-in-hand; the mixin section_padding iterates through both to
 * generate responsive padding sizes for the site.
 */

$ouro_breakpoints: (1600px, 1200px, 1024px, 768px, 650px);
$section-padding: 15%;

/*
 * Margins, Padding and Heights
 * ----------------------------
 */

$margin-default: 13px;
$margin-default-4: $margin-default * 0.25;
$margin-default-7: $margin-default * 0.5;
$margin-default-10: $margin-default * 0.75;
$margin-default-19: $margin-default * 1.5;
$margin-default-28: $margin-default * 2;

$navigation-height: 70px;

/*
 * Mixins and Partials
 * -------------------
 */

@import 'media';
@import 'mixins';
@import 'partials';

/*
 * Imports
 * ------- 
 */

@import 'reset';
@import 'typography';
@import 'sections';
// Individual Sections.
@import 'sections/home';
@import 'sections/team';
@import 'sections/bioprint';
@import 'sections/contact';
// Page subsections.
@import 'nav';
@import 'gallery';
@import 'footer';