/*
 * Bioprinting Section
 * -------------------
 */

$bioprint-background-size: auto 75%;

div.bioprint-panes {
    margin: $margin 0;
    @include prefix-value(display, flex);
    @include prefix(flex-wrap, nowrap);

    @include media(smartphone) {
        @include prefix(flex-direction, column);
    }
}

div.pane {
    box-sizing: border-box;
    // padding: $padding;
    @include prefix(flex, 1);

    @include media(smartphone) {
        @include prefix(flex, 1);
    }
}

div.pane-image {
    @extend %cover-picture;
    background-color: $colour-ouro-light;
    background-size: $bioprint-background-size;
    opacity: 0;

    @include flex_size(100%, 1);
}

@each $value, $key in $panes {
    .pane-#{$value} {
        background-image: url(nth($key, 1));
    }
}