/*
 * Bioprinting Section
 * -------------------
 */

$bioprint-background-size: auto 75%;

div.bioprint-panes {
    @include webkit_value(display, flex);
    @include webkit(flex-wrap, nowrap);

    @include media(smartphone) {
        @include webkit(flex-wrap, wrap);
    }
}

div.pane {
    box-sizing: border-box;
    padding: $margin-default;
    @include webkit(flex, 1);

    @include media(smartphone) {
        @include webkit(flex, 0 1 50%);
    }

    h5 {
        // font-size: 2vw;
        margin: 0;

        @include media(smartphone) {
            text-align: center;
            // font-size: 5vw;
        }
    }
}

div.pane-image {
    @extend %cover-picture;
    background-color: $colour-ouro-light;
    background-size: $bioprint-background-size;
    opacity: 0;

    @include flex_size(100%, 1);
}

@each $value, $key in $panes {
    .pane-#{$value} {
        background-image: url(nth($key, 1));
    }
}