/*
 * Site Header
 * -----------
 */

$header-height-25: 25vh;
$header-height-75: 75vh;
$header-height-70: 70vh;
$header-height-100: 100vh;

section#home {
    background-color: $colour-header-grey;
    min-height: 100vh;

    @include breakpoint(smartphone) {
        background: transparent;
        min-height: initial;
    }
}

/*
 * Branding Logo
 * -------------
 */

h1.brand {
    background: center center/auto 40vh no-repeat border-box $ouro-logo;
    font-size: 12vh;
    line-height: $header-height-75;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        line-height: $header-height-70;
    }

    @include breakpoint(smartphone) {
        background-color: $colour-header-grey;
        background-size: auto 50%;
        font-size: 15vh;
        line-height: $header-height-100;
    }
}

/*
 * Home Sub-text
 * -------------
 */

div.blurbs {
    // All hild content is absolutely positioned.
    height: $header-height-25;
    position: relative;

    @include breakpoint(smartphone) {
        height: initial;
        position: relative;
    }
}