/*
 * Site Header
 * -----------
 */

$header-height-45: 45vh;
$header-height-55: 65vh;
$header-height-100: 100vh;

section#home {
    background-color: $colour-header-grey;
    min-height: 100vh;

    @include media(smartphone) {
        background: transparent;
        min-height: initial;
    }
}

/*
 * Branding Logo
 * -------------
 */

h1.brand {
    background: center center/auto 40vh no-repeat border-box $ouro-logo;
    font-size: 12vh;
    line-height: $header-height-55;
    text-transform: uppercase;

    @include media(smartphone) {
        background-color: $colour-header-grey;
        background-size: auto 50%;
        font-size: 15vh;
        line-height: $header-height-100;
    }
}

/*
 * Home Sub-text
 * -------------
 */

div.blurbs {
    // All hild content is absolutely positioned.
    height: calc(100vh - #{$header-height-55});
    position: relative;

    @include media(smartphone) {
        height: initial;
        position: relative;
    }
}